extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert-success.pug

block content
  +alert-success(2000)
  +alert-error(2000)
    block content
  .container.mt-5(style="max-width: 500px;").mb-5
    h2.text-center.mb-4 Nhập mã OTP

    form(method="POST", action="/user/password/otp")
      .form-group.mb-3
        lable(for="email") Email 
        input(
          class="form-control"
          type="text"
          readonly
          value=email 
          name="email"
        ).mb-3

        label(for="otp") Mã OTP gồm 6 chữ số
        input#otp.form-control(
          type="text",
          name="otp",
          maxlength="6",
          required=true,
          pattern="\\d{6}",
          placeholder="Nhập mã OTP"
        )

      button.btn.btn-primary.btn-block(type="submit") Xác nhận OTP