extends ../../layouts/default.pug
include ../../mixins/alert-success.pug

block content 
  .card.mb-3
     h1 danh sách sản phẩm

  .card-header Danh sách
    .card-body
      .row 
        .col-8
        .col-4 
          a(
            href=`${prefixAdmin}/products-category/create`
            class="btn btn-outline-success"
          ) + Thêm mới
      
      .table-responsive 
      table.table.table-hover.table-sm.table-fixed.checkbox-multi(style="width: 100%;")
        thead 
          tr 
            th 
              input(type="checkbox" name="checkall")
            th(style="width: 50px;") STT
            th(style="width: 100px;") Hình ảnh
            th(style="width: 200px; word-wrap: break-word;") Tiêu đề
            th(style="width: 150px;") Vị trí
            th(style="width: 150px;") Hoạt động

        tbody 
          each item,index in records
            tr 
              td 
                input(
                  type="checkbox"
                  name="id"
                  id=item.id
                )
              td #{index + 1}
              td 
                img(src=`${item.thumbnail}`
                width = "50px"
                height = "auto"
                )
              td #{item.title}
              td 
                input(
                  type="number"
                  value = item.position 
                  style="width:60px"
                  min="1"
                  name="position"
                  )
              td 
                if item.status == "active"
                    a(href="javascript:;" 
                    data-status = item.status 
                    data-id = item.id
                    button-change-status
                    class="badge badge-success"
                    ) Hoạt động
                else
                    a(href="javascript:;" 
                    data-status = item.status 
                    data-id = item.id 
                    button-change-status
                    class="badge badge-danger"
                    ) Không hoạt động
              td 
                a(
                  class="btn btn-secondary btn-sm"
                  href=`${prefixAdmin}/products-category/detail/${item.id}`
                  ) Chi tiết
                a(
                  class="btn btn-warning btn-sm"
                  href=`${prefixAdmin}/products-category/edit/${item.id}`
                  ) Sửa
                button(
                  class="btn btn-danger btn-sm"
                  data-id = item.id
                  button-delete
                  ) xoá
  script(src="/admin/js/product.js") 